*{box-sizing: border-box;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Montserrat", sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

html{
    background-color: rgb(27, 27, 27);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    display: flex;
}
.status{
    margin-top: 20px;
    width: 200px;
    height: 500px;
    border: 1px solid #fff;
    background-size: cover;
}
h2{
    padding-left: 10px;
    color: rgb(0, 255, 0);
    border-bottom: 1px solid #fff;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player_status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 80px;
    margin: 5px 0;
    border: 1px solid #fff;
    background-color: rgb(57, 61, 61);
    color: rgb(162, 80, 255);
}
.life{
    border: 1px solid #fff;
    margin-left: 10px;
    width: 100px;
    height: 10px;
    background-color: red;
}
.life div{
    width: 90px;
    height: 10px;
    background-color: green;
}
.world{
    background-image: url("./img/maps.png");
    background-repeat: no-repeat;
    display: flex;
    width: 531px;
    height: 469px;
    margin: 30px;
    border: 2px solid #fff;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.player p{
    color: rgb(6, 71, 0);
}
.player img{
    width: 50px;
    height: 50px;
}
.chat{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 302px;
    height: 500px;
    border: 1px solid #fff;
}
.scroll{
    overflow-y: scroll;
    width: 300px;
    height: 500px;
}
.chat_player{
    display: flex;
    margin-left: 5px;
    margin-bottom: 10px;
    color: #fff;
}
.chat_player strong{
    color: rgb(162, 80, 255);
}
form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
form input{
    width: 242px;
    height: 20px;
    color: #fff;
    background-color: rgb(61, 58, 58);
    border: none;
}
form button {
    transition: 0.4s;
    width: 55px;
    height: 20px;
    color: #fff;
    background-color: rgb(61, 58, 58);
    border: none;
}
form button:hover{
    transition: 0.4s;
    background-color: rgb(0, 0, 0);
}
